<%- include("partials/header") %> 

<div class="result">
<div class="card crd1">
  <div class="card-header crdhd">
    <h3>Results</h3>
  </div>
  <div class="card-body crdbd1">
    <h5>Days Alloted For Planning</h5>
    <h5><%= x1 %></h5><br><br>
    <h5>Days Alloted For Business</h5>
    <h5><%= x2 %> </h5><br><br>
    <h5>Days Alloted For Site Work</h5>
    <h5><%= x3 %> </h5><br><br>
    <h5>Minimized Result</h5>
    <h5><%= z %> </h5>
  </div>
</div><br><br>
<a href="/" class="btn btn-lg btn-outline-dark">GO TO HOME</a>
</div>

<%- include("partials/footer") %> 